.iconBar {
    align-content: center;
    text-align: center;
    display: flex;
    width: 100%; 
    margin-bottom: 20px;
}

.iconBar img{
    max-width: 100%;
    margin: 1%;
    margin-bottom: 0
}

.icon{
    width: 10%; 
    margin: auto;
}