.iconBar {
    align-content: center;
    display: flex;
    width: 100%; 
    margin-bottom: 20px;
}

.iconBar img{
    max-width: 100%;
    margin: 1%;
    margin-bottom: 0
}

.SourceB {
    composes: SourceB from global;
    font-size: 0.5rem;
}