.searchContainer {
    width: 600px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 40px;
}

.lato-subtitle {
    composes: global lato-subtitle from global;
}

.body {
    composes: global body from global;
}