@value sea-buckthron from '../../../app/App.css';

.container {
    text-align: center;
    padding: 20px;
}

.container img{
    width: 150px;  
}

.content {
    width: 80%;
    text-align: justify;
    margin: auto;
}
.ali img{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
}

.lato-title {
    composes: lato-title from global;
    color: black;
}

.lato-cover-orange {
    composes: lato-title from global;
    color: sea-buckthron;
}

@media screen and (max-width: 500px) {
    .container img{
        width: 140px; 
        margin-top: 10px; 
    }
    .ali img{
        margin-top: 40px;
        margin-bottom: 40px;
        width: 80%;
    }
}