@value sea-buckthron from '../../../app/App.css';

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.container img{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}


.contentContainer {
    position: relative;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    opacity: 1;
    background-color: #eeeeee;
    overflow: hidden;
}

.content {
    position: relative;
    width: 243px;
    margin: auto;
    text-align: justify;   
}

.content ul{
    padding: 20px;
}

.content img{
    margin-top: 20px;
    width: 137px;
    height: 40px;
    margin-bottom: 20px;
}

.big-logo {
    margin-top: 172px;
    margin-left: auto;
    margin-right: auto;
    width: 277px;
    height: 171px;
}

.marketing {
    position: absolute;
    width: 50%;
    height: 100%;
}

.media {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0px;
}

.orange {
    position: relative;
    border-bottom: 3px solid sea-buckthron;
    margin-top: 45px;
    margin-left: 50px;
    width: 14px;
}

.cards {
    align-items: center;
    width: 644px;
    margin: auto;
    margin-top: 39px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap
}

.card {
    position: relative;
    height: 160px;
    width: 160px;
    margin: auto;
}

.FlipBox {
    width: 100%;
    height: 100%;
    /*border-radius: 10px;
    box-shadow: 0 0 2px rgba(0,0,0,0.25);*/
    transform-style: preserve-3d;
    transition: all 0.6s linear;
}

.FlipBox img {
    height: 100%;
    width: 100%;
}
  
.FlipFront {
    position:absolute;
    border-radius: 10px;
    overflow: hidden;
    width:100%;
    height:100%;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    webkit-backface-visibility: hidden;
}
   
.FlipBack {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    transform: rotateY(180deg);
    box-sizing: border-box;
    color: white;
    text-align: center;
    backface-visibility: hidden;
    webkit-backface-visibility: hidden;
}

.card:hover .FlipBox{
    transform: rotateY(180deg);
    transition: 0.6s;
  }

.lato-title {
    composes: lato-title from global;
    color: black;
}

.lato-oversize {
    composes: lato-oversize from global;
    color: orange;
}

@media screen and (max-width:900px) {
    .card {
        height: 320px;
        width: 320px;
    }
    .card img{
        width: 100%
    }
}

@media screen and (max-width:500px) {
    .container {
        width: 750px;
        height: 1334px;
        overflow: hidden;
    }
    .marketing {
        width: 100%;
    }
    .media {
        width: 100%;
    }
    .content {
        width: 573px;  
    }
    .content img{
        margin-top: 20px;
        width: 260px;
        height: 76px;
        margin-bottom: 20px;
    }
    .orange {
        margin-top: 118px;
        margin-left: 50px;
        margin-bottom: 20px;
        width: 50px;
    }
    .card {
        height: 640px;
        width: 640px;
    }
}