@value sea-buckthron from '../../../app/App.css';

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
}

.logoContainer {
    margin: auto;
    width: 200px;
}

.logoContainer img{
    width: 80px;
    margin-left: 20px;  
}

.contentContainer {
    margin-top: 30px;
    display: flex;
}

.wechatImage {
    width: 300px;
    margin: auto;
}

.wechatImage img{
    width: 100%;
}

.wechatImage1 {
    width: 600px;
    margin: auto;
    display:none;
}

.wechatImage1 img{
    width: 100%;
}

.wechatImage2 {
    width: 300px;
    margin: auto;
}

.wechatImage2 img{
    width: 100%;
}

.content {
    width:350px;
    margin: auto;
}

.sec {
    width:80%;
    margin:auto;
    text-align: left;
    margin-top: 40px;
    position: relative;
    display: flex;
}


.orange {
    margin:auto;
    border-bottom: 5px solid sea-buckthron;
    width: 50px;
}

.orangeV {
    margin: auto;
    border-bottom: 20px solid sea-buckthron;
    width: 3px;
    height: 80%;
    margin-right: 10px
}

.lato-title {
    composes: lato-title from global;
    color: black;
}

.lato-subtitle-orange {
    composes: lato-subtitle from global;
    color: sea-buckthron;
}

@media screen and (max-width: 500px) {
    .contentContainer {
        margin-top: 50px;
        display: block;
    }
    .logoContainer {
        width: 320px;
    }
    .logoContainer img{
        width: 140px;
    }
    .wechatImage {
        width: 600px;
        margin: auto;
        margin-bottom: 30px;
    }
    .content {
        width:600px;
        margin-top: 30px;
        text-align: justify;
    }
    .content ul{
        list-style: none;
        padding:0;
        margin: 0;
    }
    .wechatImage1 {
        display: block;
    }
    .wechatImage2 {
        display: none;
    }
}



