@value iron from '../../app/App.css';
@value shark from '../../app/App.css';

.footer {
    width: 100%;
    background-color: shark;
    padding: 53px;
}

.container {
    margin: auto;
    width: 100%;
    display: block;
}

.footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer li{
    color: iron;
}

.section-top{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 21px;
}

.section-bottom{
    margin-top: 29px;
    position: relative;
    display: flex;
}

.contact{
    left:30px;
    display: block;
    text-align: left;
}

.follow {
    text-align: center;
    position: relative;
    margin-left: 20px;
    width: 300px;
}

.icons {
    position: relative;
}

.icons img {
    width: 50px;
}


/*.icon {
    position: absolute;
    right: 200px;
}
.icon1 {
    position: absolute;
    right: 150px;
}
.icon2 {
    position: absolute;
    right: 100px;
}
.icon3 {
    position: absolute;
    right: 50px;
}

.icon4 {
    position: absolute;
    right: 0px;
}*/

.link {
    color: iron;
}

.link:hover {
    color: white;
}

.copyright {
    color: iron;
}

.menu {
    margin-right: 40px;
}

.wechatQR {
    width: 300px;
}

.wechatQR img{
    width: 100%;
}

.disclaimer {
    margin-top: 50px;
}

.lato-oversize {
    composes: lato-oversize from global;
    color: iron;
}

.lato-subtitle{
    composes: lato-subtitle from global;
    color: iron;
}

@media screen and (max-width: 500px) {

    .contact{
        width: 100%;
    };
    .follow {
        text-align: center;
        position: relative;
        margin-right: 0px;
        width: 100%;
    };
    .icon {
        position: relative;
        bottom: 0px;
    }
    .lato-oversize {
        font-size: 80px;
    }
    .follow {
        text-align: left;
        margin-left: 0px;
    }
    .lato-subtitle{
        font-size:50px;
    }
    .icons img {
        width: 100px;
    }
}