.footer {
    width: 100%;
    background-color: #202020;
    overflow: hidden;
    padding: 40px;
}

.footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer li{
    line-height: 1.2em;
    font-family: 'Lato';
    font-weight: lighter;
    font-size: 12px;
    color: #a0a0a0;
}

.footer h2{
    font-family: 'Lato';
    font-weight: regular;
    color: #a0a0a0;
    font-size: 45px;
}

.footer h5{
    font-family: 'Lato';
    font-weight: medium;
    font-size: 16px;
    color: #a0a0a0;
}
.footer p{
    font-family: 'Lato';
    font-weight: lighter;
    font-size: 12px;
    color: #a0a0a0;
}

.container {
    margin: auto;
    width: 90%;
    display: block;
}

.section{
    position: relative;
    display: flex;
    text-align: left;
    overflow: hidden;
}

.icon {
    color: #a0a0a0;
    position: absolute;
    font-size: 25px;
}

.icon:hover {
    font-size: 30px;
}

.follow {
    text-align: center;
    position: absolute;
    right: 30px;
    width: 200px;
}

.menu {
    margin-right: 30px;
}

.number {
    line-height: 30px;
}

.wechatQR {
    width: 300px;
}

.wechatQR img{
    max-width: 100%;
}