/* Font setting */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300');

/* Color setting */
@value sea-buckthron: #faa634;
@value black: #000000;
@value white: #ffffff;
@value iron: #d3d3d3;
@value shark: #2a2a32;
@value christine: #e0760b;

:global(img) { 
  content: normal !important; 
}

:global(a) {
  color: white;
}

/*font setting*/
:global(.body) {
  font-size: 10px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  color: shark;
}

:global(.lato-oversize){
  font-size: 48px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: white
}

:global(.lato-cover){
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: white
}

:global(.lato-title){
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: white;
}

:global(.lato-subtitle){
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: white;
}

:global(.lato-ssubtitle){
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: white;
}

/*mobile font setting*/
@media screen and (max-width: 500px) {
:global(.body) {
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: shark;
}

:global(.lato-cover){
  font-size: 100px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: white
}

:global(.lato-title){
  font-size: 48px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: white;
}

:global(.lato-subtitle){
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: white;
}

:global(.lato-ssubtitle){
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: white;
}
}
