.banner {
    position: relative;
    width: 100%;
}

.banner img{
    width: 100%;
    height: auto;
}

.bannerInfo {
    text-align: left;
    width: 250px;
    height: 200px;
    position: absolute;
    left: 70px;
    top: 200px;
}

.orange {
    border-bottom: 5px solid orange;
    width: 0px;
}

.lato-title {
    composes: lato-title from global;
}

.body {
    composes: body from global;
    color: white;
}

@media screen and (max-width: 500px) {
    .banner {
        height: 1334px;
        overflow: hidden;
    }
    .banner img{
        margin-left: -200px;
        height: 1334px;
        width: auto;
    }
    .bannerInfo {
        width: 300px;
        left: 380px;
        top: 450px;
    }
}