.container {
    text-align: center;
    padding: 20px;
}

.container img{
    margin: auto;
    width: 100px;
}

.orange {
    margin:auto;
    border: 3px solid orange;
    width: 50px;
}

.lato-title {
    composes: lato-title from global;
    color: black;
}

.cards {
    width: 90%;
    margin: auto;
    display: flex;
}
.card {
    position: relative;
    height: 300px;
    display: block;
    width: 30%;
    margin: auto;
}   

.service{
    width: 80%; 
    margin: auto;
}