.container {
    text-align: center;
    padding: 50px;
    overflow:hidden;
}

.container img{
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.orange {
    margin:auto;
    border: 3px solid orange;
    width: 50px;
}

.Latoh2 {
    composes: Latoh2 from global;
}

.Latoh3 {
    composes: Latoh3 from global;
}

.SourceB {
    composes: Sourcebody from global;
}

.card img{
    max-width: 140px;
}