.container {
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 90%;
    margin:auto;
}

.container img{
    margin: auto;
    width: 100px;
}

.orange {
    margin:auto;
    border-bottom: 3px solid orange;
    width: 50px;
}

.lato-title {
    composes: lato-title from global;
    color: black;
}

.cards {
    width: 90%;
    margin: auto;
    display: flex;
    text-align: center;
    margin-bottom: 30px;
}
.card {
    position: relative;
    height: 200px;
    display: block;
    width: 30%;
    margin: auto;
}   

.service{
    width: 68%; 
    margin: auto;
}

@media screen and (max-width: 500px) {
    .cards {
        display: block;
    }
    .card {
        margin-top: 20px;
        border: 1px solid gray;
        height: 500px;
        width: 100%;
    }   

    .card img{
        margin-top: 40px;
        width: 200px;
    }
    .service{
        width: 90%; 
    }
}