
.container {
    text-align: center;
    padding-top: 36px;
    background: #F8F8F8;
}

.container1 {
    text-align: center;
    padding: 20px;
    background-color: white;
}

.logoContainer {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 50px; 
    padding: auto;
    width: 120px;
}

.logoContainer img{
    width: 50px;
    height: 18px;
    margin-left: 10px;  
}
.description {
    margin-bottom: 40px;
    width: 60%;
    margin: auto;
}
.solutions {
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px; 
    width:100%;
}
.solutions img{
    height: 350px;
    max-width: 40%;
    margin:auto;
    background: #F8F8F8;
    box-shadow: 0 2px 5px 1px rgba(0,0,0,0.20), inset 0 -4px 16px 3px rgba(0,0,0,0.17);
}

.lato-title {
    composes: lato-title from global;
    color: black;
}

@media screen and (max-width: 500px) {
    .container {
        padding-top: 58px;
    }
    .lato-title {
        composes: lato-title from global;
        color: black;
        size: 48px
    }
    .description {
        width: 90%
    }
}
