.banner {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner img{
    width: 100%;
    height: 100%;
}

.bannerInfo {
    background-color: white;
    text-align: left;
    width: 60%;
    position: absolute;
    left: 20px;
    bottom: 20px;
    top: 20px;
}

.orange {
    position: relative;
    border-bottom: 5px solid orange;
    margin-top:50px;
    margin-left: 50px;
    margin-bottom: 10px;
    width: 35px;
}

.detail-line {
    display: flex;
    margin-bottom: 15px;
}

.content {
    position: relative;
    width: 90%;
    margin-left: 50px;
    text-align: justify;   
}

.icons {
    position: relative;
    width: 90%;
}

.icons img{
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}

.lato-title {
    composes: lato-title from global;
    color: black;
}

.lato-subtitle {
    composes: lato-subtitle from global;
    color: black;
}