.banner {
    position: relative;
    width: 750px;
}

.banner img{
    width: 100%;
    height: auto;
}

.bannerInfo {
    background-color: white;
    text-align: left;
    width: 60%;
    position: absolute;
    left: 20px;
    bottom: 20px;
    top: 20px;
}

.orange {
    position: relative;
    border-bottom: 5px solid orange;
    margin-top:50px;
    margin-left: 50px;
    margin-bottom: 10px;
    width: 35px;
}

.detail-line {
    display: flex;
    margin-bottom: 15px;
}

.content {
    position: relative;
    width: 90%;
    margin-left: 50px;
    text-align: justify;   
}

.icons {
    position: relative;
    width: 90%;
}

.icons img{
    margin-left: auto;
    margin-right: auto;
    width: 30px;
}

.lato-title {
    composes: lato-title from global;
    color: black;
}

.lato-subtitle {
    composes: lato-subtitle from global;
    color: black;
}

@media screen and (max-width:500px){
    .bannerInfo {
        background-color: white;
        text-align: left;
        top:0;
        left:0;
        bottom:0;
        width: 100%;
        position: relative;
    }
    .content{
        margin-left: 0;
    }
    .orange {
        border-bottom: 5px solid orange;
        margin-top:0px;
        padding-top: 50px;
        margin-left: 0px;
        margin-bottom: 0px;
        width: 35px;
    }
    .contentcontainer {
        width: 90%;
        margin: auto;
    }
    .icons {
        padding-bottom: 30px;
        padding-left: auto;
        padding-right: auto;
    }
    .icons img{
        width: 80px;
    }
    .lato-subtitle {
        font-size: 20px;
    }
}