.container1 {
    text-align: center;
    padding-top: 34px;
    background-color: white;
    padding-bottom: 51px;
}

.logoContainer {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 50px; 
    padding: auto;
    width: 120px;
}

.logoContainer img{
    width: 50px;
    height: 18px;
    margin-left: 10px;  
}

.description {
    margin-bottom: 40px;
    width: 60%;
    margin: auto;
}

.solutions {
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px; 
    width:100%;
}
.solution {
    height: 252px;
    width: 312px;
    margin: auto;
    position: relative;
}

.solution img{
    height: 100%;
    width: 100%;
    margin:auto;
}

.solution:hover .image{
    filter: blur(4px);
}

.close img{
    width: 20px;
    position: absolute;
    right: 40px;
    top: 40px; 
    z-index: 1;
}

.shadow {
    position: absolute;
    width: 80%;
    height: 90%;
    left: 10%;
    top: 5%; 
    background: rgba(244,244,244,0.55);
    z-index: 1;
    cursor: pointer;
}

.shadow img {
    margin-top: 40px;
    width: 60px;
    height: auto;
}

.modalContainer {
    height: 80%;
    width: 80%;
    margin: auto;
}

.contentContainer img{
    width: 600px;
    height: auto;
}


.lato-title {
    composes: lato-title from global;
    color: black;
}

.lato-subtitle {
    composes: lato-subtitle from global;
    color: black;
}

@media screen and (max-width: 500px) {
    .description {
        width: 90%;
    }

    .logoContainer{
        display: none;
    }
    .solutions {
        display: block;
    }
    .solution {
        height: 504px;
        width: 624px;
    }
    .shadow {
        display: block
    }
    .shadow img {
        margin-top: 50px;
        width: 200px;
        height: auto;
    }
    .image{
        filter: blur(4px); 
    }
}