.lineBreak{
    width: 100%;
}
.orange {
    border: 3px solid orange;
    width: 20px;
    margin-bottom: 8px;
}

.modal {
    position:relative;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700px;
    font-size: 24px;
    color: #ffffff;
}

.modal img{
    max-width: 80px;
    max-height: 80px;
}

.modal ul{
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: lighter;
}