.cards {
    align-items: center;
    margin-top: 28px;
    padding-bottom: 59px;
    width: 90%;
    margin:auto;
    display: flex;
    background-color: #F8F8F8;
}

.card {
    transition: 0.3s;
    position: relative;
    height: 144px;
    display: block;
    width: 123px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.11);
}

.card img{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
}

.card:hover {
    transition: 0.3s;
    width: 246px;
    position: relative;
}

.orange {
    border-bottom: 5px solid orange;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.icons {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 0px;
    text-align: center;
}

.icon {
    height: 80px;
    display: block;
    width: 33%;
    margin: auto;
}

.icon img{
    width: 24px;
    margin:auto;
}

.lato-title {
    composes: lato-title from global;
    color: black;
}

.lato-subtitle {
    composes: lato-subtitle from global;
    color: black;
}

@media screen and (max-width: 500px) {
    .cards {
        flex-wrap: wrap;
    }
    .card {
        width: 100%;
        height: 244px;
        box-shadow: 0 0 10px 2px rgba(0,0,0,0.11);
        margin-bottom: 40px;
    }
    .card:hover{
        width: 100%;
        height: 244px;
    }
    .icon img{
        width: 48px;
        margin:auto;
    }

}