.cards {
    align-items: center;
    margin-top: 60px;
    width: 100%;
    display: flex;
}

.card {
    transition: 0.3s;
    position: relative;
    height: 200px;
    display: block;
    width: 18%;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.11);
}

.card img{
    margin: 30px;
    max-width: 80px;
}

.card:hover {
    transition: 0.3s;
    width: 36%;
    position: relative;
}

.card:hover {
    
}

.orange {
    border: 3px solid orange;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.icons {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 25px;
    text-align: center;
}

.icon {
    height: 80px;
    display: block;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

.icon img{
    max-width: 50px;
    margin:auto;
}

.Latoh2 {
    composes: Latoh2 from global;
    line-height: 1rem
}

.Latoh3 {
    composes: Latoh3 from global;
}
