.container {
    width: 80%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: justify;
}

.letter-list{
    list-style-type: lower-latin;
}

.number-list{
    list-style-type: decimal;
}

.lato-title {
    composes: global lato-title from global;
    color: black;
}

.lato-subtitle{
    composes: global lato-subtitle from global;
    color: black;
}
.lato-ssubtitle{
    composes: global lato-ssubtitle from global;
    color: black;
}

.body{
    composes: global body from global;
    font-weight: 700;
    border-bottom: 1px solid gray;
}

@media screen and (max-width:500px) {
    .container {
        padding-top: 200px;
        padding-bottom: 150px;
    }
}