.container {
    background-color: white;
}

.form {
    align-items: center;
    margin-top: 40px;
    width:450px;
    margin: auto;
}

.lato-title{
    composes: lato-title from global;
    color: black;
}

@media screen and (max-width:500px) {
    .form {      
        width:650px;
    }
}